
.botaoContent {
  /* max-width: 100%;
  width: 47.5%;
  margin: 20px 0 8px;
  display: flex;
  justify-content: flex-end; */
}

.botaoContent .botao {
  border-color: #24506b;
  background-color: #c8edeb;
  color: #000;
}

.botaoContent .botao:hover{
  border-color: #24506b;
  background-color: #000;
  color: #fff;
}