
.avalietions img {
    width: 25px;
    height: 25px;
}

.row-2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.PsychologistResearch .row-2 input {
    height: 40px;
    width: 245px;
}

.PsychologistResearch .informations{
    padding: 7px 40px 7px 10px;
    gap: 0;

}

.avalietions{
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 20px;
}

.PsychologistResearch .informations label{
    display: flex;
    padding-left: 9px;
}

.banner-pages img {
    width: 100%;
    height: auto;
}