
.container-nav {
  width: 100%;
  max-width: 100%;
  max-height: 60px;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  /* flex-direction: row; */
}

.container-nav nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-width: 1252px;
}