.logoPrincipal-content {
  width: 50%;
}

.logoPrincipal-content{
  display: flex;
  justify-content: center;
  margin: 60px;
}

.logoPrincipal-content img{
  width: 100%;
  height: auto;
  max-width: 435px;
}